<%- include ('../../partials/header'); -%>
<%- include ('../../partials/navbar'); -%>
<div class="container">
    <hr>
    <div class="card mt-3">
        <div class="card-header">
            Cadastro de Usuário
        </div>
        <div class="card-body">
            <form method="POST" action="/users/create">
                <input class="form-control" name="email" type="email" placeholder="email@exemplo.com"><br>
                <input class="form-control" name="password" type="password" placeholder="******"> <br>
                <button type="submit" class="btn btn-success btn-block">Criar</button>
            </form>
        </div>
    </div>
</div>
<%- include ('../../partials/footer'); -%>